@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: normal 1em arial;
}

header {
    background-color: #808080;
}

header h1 {
    text-align: center;
    padding: 17px 0px;
}

header .material-icons {
    color: white;
    margin-left: 10px;
}

main {
    padding: 10px;
}

main article {
    text-align: justify;
}

main h2{
    text-align: center;
    padding: 17px 0px;
}

footer {
    background-color: black;
    color: white;
}

footer > p {
    text-align: center;
    font-size: .8em;
    padding: 2px;
}

