@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font: normal 1em arial;
}

header {
    background-color: #808080;
}

header h1 {
    text-align: center;
}

main {
    padding: 10px;
}

main article {
    text-align: justify;
}

footer {
    background-color: black;
    color: white;
}

footer > p {
    text-align: center;
    font-size: .8em;
}

